   <div class="banner-container">

        <div class = "banner">
          <div class ="store">
            <img src ="https://wcustudentservices.com/wp-content/uploads/2018/12/wcucampusstore.jpg" alt="">
          </div>
          <div class ="content">
            <span>Visit WCU's Campus Store</span>
            <h3>For Exclusive Deals!</h3>
            <p>Click the Link Below.</p>
            <a href="https://www.wcucampusstore.com/" class ="btn">View Deals</a>
          </div>
          <div class ="logo">
            <img src="https://www.wcupa.edu/_services/STU/ramsEyeView/images/goldenRamLogo.png" alt="" style="vertical-align:bottom">
          </div>
